<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor</title>
</head>
<body>
<table>
  <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Age</th>
  <th>Gender</th>
  </tr>
<tr>
  <td th:text="${mentor1.getFirstName()}"></td>
  <td th:text="${mentor1.getLastName()}"></td>
  <td th:text="${mentor1.getAge()}"></td>
  <td th:text="${mentor1.getGender()}"></td>
</tr>
  <tr>
  <td th:text="${mentor2.getFirstName()}"></td>
  <td th:text="${mentor2.getLastName()}"></td>
  <td th:text="${mentor2.getAge()}"></td>
  <td th:text="${mentor2.getGender()}"></td>
  </tr>
  <tr>
  <td th:text="${mentor3.getFirstName()}"></td>
  <td th:text="${mentor3.getLastName()}"></td>
  <td th:text="${mentor3.getAge()}"></td>
  <td th:text="${mentor3.getGender()}"></td>
  </tr>
</table>
</body>
</html>